<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>userAdmin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!--Dodatkowa-->
<h1>Find user by login.</h1>
<table>
    <tr>
        <td th:text="ID"></td>
        <td th:text="NAME"></td>
        <td th:text="LAST_NAME"></td>
        <td th:text="LOGIN"></td>
        <td th:text="EMAIL"></td>
        <td th:text="CITY"></td>
        <td th:text="PREMIUM_USER"></td>
        <td th:text="ADMIN"></td>
    </tr>
    <th:block th:each="user : ${users}">
        <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.login}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.city}"></td>
            <td th:text="${user.premiumUser}"></td>
            <td th:text="${user.admin}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>