<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!--Dodatkowa-->
<p th:text="'Hello, ' + ${name} + '!'"/>
<h1>all users</h1>
<ol>
    <li th:each="user : ${allUsers}">
        <p th:text="${user.name}"></p>
        <p th:text="${user.lastName}"></p>
        <p th:text="${user.city}"></p>
    </li>
</ol>
<h1>found user</h1>
<div th:if="${foundUser != null}">
    <ol>
        <li th:each="user : ${foundUser}">
            <p th:text="${user.name}"></p>
            <p th:text="${user.lastName}"></p>
            <p th:text="${user.city}"></p>
        </li>
    </ol>
</div>
</body>
</html>