<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!--Dodatkowa-->
<table>
    <tr>
        <td th:text="ID"></td>
        <td th:text="OFFERED_DATE"></td>
        <td th:text="EXCHANGE_DATE"></td>
        <td th:text="BUYER_ID"></td>
        <td th:text="PRODUCT_ID"></td>
        <td th:text="RATE"></td>
    </tr>
    <th:block th:each="offer : ${offers}">
        <tr>
            <td th:text="${offer.id}"></td>
            <td th:text="${offer.offeredDate}"></td>
            <td th:text="${offer.exchangeDate}"></td>
            <td th:text="SET"></td>
            <td th:text="SET"></td>
            <td th:text="${offer.rate}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>