<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="baseNoCategories :: pageHead">
</head>
<body>
<div class="container-fluid">
    <div th:replace="base :: header"></div>
    <div>
        <center><h2>Zaoferowano tobie</h2></center>
        <div class="centered" style="width:1200px; margin: auto; position: relative;">
            <div th:each="offered : ${myOfferedMeList}">
                    <div class='col-md-5 well well-lg'>
                        <div class="row">
                            <a href='#' class='thumbnail autoMargin'>
                                <img class="maxImgSizeOffered" th:src="@{/external/{path}(path=${offered.productImage})}"/>
                            </a>
                            <h1 th:text="${offered.productTitle}"></h1>
                            <p th:text="${offered.productName}"></p>
                            <p th:text="${offered.ownerLogin}"></p>
                        </div>
                    </div>
                    <div class='col-md-2' style="text-align: center;">
                        <button class="btn btn-default btn-success">Przejdź do oferty</button>
                    </div>
                    <div class='col-md-5 well well-lg'>
                        <div class="row">
                            <a href='#' class='thumbnail autoMargin'>
                                <img class="maxImgSizeOffered" th:src="@{/external/{path}(path=${offered.forImagePath})}"/>
                            </a>
                            <h1 th:text="${offered.forTitle}"></h1>
                            <p th:text="${offered.forName}"></p>
                            <p th:text="${offered.forLogin}"></p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>