<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="baseNoCategories :: pageHead">
</head>
<body>

<div class="container-fluid">
    <div th:replace="baseNoCategories :: header"></div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 th:text="${product.title}">Title</h1>
            <div class="row">
                <div th:if="${product.imageUrl}" class="col-md-4" >
                    <img src="#" class="img-responsive" th:src="${product.imageUrl}" id="images" alt="image to place"/>
                </div>
                <div th:unless="${product.imageUrl}" class="col-md-4" id="image-blank">
                    <img class="img-responsive" src="#" th:src="@{/images/noimage.png}"
                         alt="image to place"/>
                </div>
                <div class="col-md-4 col-md-offset-1 paddTop" id="details">
                    <div th:if="${!product.exchanged and session.userId != null and session.userId != product.owner.id}">
                        <a th:href="@{/addOffer}" class="btn btn-default btn-success">Złóż ofertę</a>
                        <a th:href="@{/converstation}" class="btn btn-default btn-warning" >Zadaj pytanie</a>
                    </div>
                    <div th:if="${product.exchanged}" class="btn btn-default btn-error">Wymieniony</div>
                    <div class='h5 owner' th:text="'Wystawiony przez: '+${product.owner.login}">użytkownik</div>
                    <div class='h5 state' th:text="'Miejscowość: '+${product.owner.city}">Niemyje Ząbki</div>
                    <div class='h6 addedDate2' th:inline="text"><b>Dodano</b>&nbsp;[[${#dates.format(product.addDate,
                        'dd-MM-yyyy')}]]
                    </div>
                    <div class='h6 addedDate2'>
                        <b th:text="'Zamieni się za: ' + ${product.exchangeFor.name}">Frytki</b>
                    </div>
                </div>
            </div>
            <div class="row" id="simpleDescription">
                <h2>Opis</h2>
                <div th:utext="${product.description}">Opis</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>