<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!--Dodatkowa-->
<table>
    <tr>
        <td th:text="ID"></td>
        <td th:text="OWNER_ID"></td>
        <td th:text="TITLE"></td>
        <td th:text="DESCRIPTION"></td>
        <td th:text="CATEGORY_ID"></td>
        <td th:text="EXCHANGE_FOR"></td>
        <td th:text="ADD_DATE"></td>
        <td th:text="EXCHANGED"></td>
        <td th:text="IMAGE_PATH"></td>
    </tr>
    <th:block th:each="product : ${products}">
        <tr>
            <td th:text="${product.id}"></td>
            <td th:text="not-good"></td>
            <td th:text="${product.title}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.categoryId}"></td>
            <td th:text="${product.exchangeFor}"></td>
            <td th:text="${product.date}"></td>
            <td th:text="${product.exchanged}"></td>
            <td th:text="${product.imagePath}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>